/* class */
:root{
    --post-background: rgb(230, 238, 236);
	--post-text: #7d908dff;
	--post-href-text: rgb(81, 90, 90);
	--post-highlight-text: rgb(158, 199, 193);
}

.post{
	background-color: var(--post-background);
	padding: 5%;

	color: var(--post-text);
	font-family: 300 13px/20px 'Open Sans',sans-serif;
	font-weight: 400;
	font-size: 17px;
}

.post h2{
	padding: 5px;
	
	color: var(--post-text);
	font-family: 300 13px/20px 'Open Sans',sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.post h3{
	padding: 5px;
	
	color: var(--post-text);
	font-family: 300 13px/20px 'Open Sans',sans-serif;
	font-weight: 400;
	font-size: 15px;
}

.post a{
	color: var(--post-href-text);
}

.post a:hover{
	color: var(--post-highlight-text);
}

.post p{
	margin-bottom: 15px;
}

.post img{
	width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}