/* class */
:root{
    --post-background: rgb(230, 238, 236);
	--post-text: #5E6E6C;
	--post-href-text: #5AB5A7;
	--post-highlight-text: #95D0C7;
}

.post{
	background-color: var(--post-background);
	padding: 5%;

	color: var(--post-text);
	font-family: 300 13px/20px 'Open Sans',sans-serif;
	font-weight: 400;
	font-size: 17px;
}

.post-header{
	padding-left: 0;
	padding-right: 0;
}

.post .post-header>h1, .post .post-header>h2{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	
	color: var(--post-text);
	font-family: 300 13px/20px 'Open Sans',sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.post .post-header>h2{
	margin-bottom: 1em;
}

.post h1, h2, h3{
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	
	color: var(--post-text);
	font-family: 300 13px/20px 'Open Sans',sans-serif;
	font-weight: 400;
}

.post h1{
	font-size: 48px;
}

.post h2{
	font-size: 37px;
	font-weight: 500;
}

.post h3{
	font-size: 30px;
	font-weight: 500;
}

.post a{
	color: var(--post-href-text);
}

.post a:hover{
	color: var(--post-highlight-text);
}

.post p{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: justify;
}

.post img{
	width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post ul{
	padding-left: 30px;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	font-weight: 500;
}

.post li{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

code{
	color: orange;
}

.highlight{
	border-radius: 1ex;
	padding: 1ex;
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.meta-button a{
	position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 1px solid var(--banner-font);
    color: var(--banner-font);
	text-align: center;
}

.meta-button a:hover{
	border-bottom: 1px solid var(--post-highlight-text);
	color: var(--post-highlight-text);
}

.meta-button li {
	padding-left: 0.5ex;
	padding-right: 0.5ex;
}

.meta-button ul{
	margin: 0;
	padding: 0;
	display: inline-flex;
	list-style-type: none;
}