<!-- navbar -->
<div class="row">
    <div class="col">
        <nav id="main-nav" class="nav justify-content-start">
            <li class="nav-item">
                <a class="navbar-link navbar-text" href="/">
                    Home
                </a>                
            </li>
        </nav>
    </div>
    <div class="col">
        <nav id="main-nav" class="nav justify-content-end">
            <!-- <li class="nav-item">
                <a class="navbar-link navbar-text" href="#projetos">
                    Portifólio
                </a>
            </li> -->
            <li class="nav-item">
                <a class="navbar-link navbar-text" href="/blog">
                    Blog
                </a>
            </li>
        </nav>
    </div>
</div>