<div>
    <div class="social text-center text-bottom">
        <ul>
            <li><a href="mailto:jooxpeters@gmail.com" ><i class="fa fa-envelope"></i></a></li>
            <li><a href="mailto:joco_zx@hotmail.com" ><i class="fa fa-envelope"></i></a></li>
            <li><a href="tel:+55 42 98418 4379" ><i class="fa fa-whatsapp"></i></a></li>
            <li><a href="https://github.com/Joao-Peterson" ><i class="fa fa-github"></i></a></li>
            <li><a href="https://linkedin.com/in/peterson-scheffer" ><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://youtube.com/channel/UCCnexeRhsuk1B9tz2kjsrAg" ><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://instagram.com/joao_bem_legal/" ><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/joptr_" ><i class="fa fa-twitter"></i></a></li>
            <li><a href="/feed.xml" ><i class="fa fa-feed"></i></a></li>
        </ul>
    </div>
</div>