<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <meta name="author" content="João Peterson">
    <meta name="description" content="Personal site for me :)">
    
    <link  href= "{{ "bootstrap/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">
    <script src= "{{"jquery/jquery-3.2.1.slim.min.js" | relative_url}}" defer></script>
    <script src= "{{"popperjs/popper.min.js" | relative_url}}" defer></script>
    <script src= "{{"bootstrap/js/bootstrap.bundle.min.js" | relative_url}}" defer></script>

    <link href="{{"css/style.css" | relative_url}}" rel="stylesheet">
    
    <link href="{{"fonts/open-sans.css" | relative_url}}" rel="stylesheet" type="text/css">
    <link href="{{"fonts/lato.css" | relative_url}}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png"/>
    <title>João Peterson | Programador</title>
</head>
<body>
    <div class="container-fluid">
        
        <!-- navbar -->
        <div class="row">
            <div class="col">
                <nav id="main-nav" class="nav justify-content-start">
                    <li class="nav-item">
                        <a class="navbar-link navbar-text" href="/">
                            Home
                        </a>                
                    </li>
                </nav>
            </div>
            <div class="col">
                <nav id="main-nav" class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="navbar-link navbar-text" href="#projetos">
                            Portifólio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-link navbar-text" href="/blog">
                            Blog
                        </a>
                    </li>
                </nav>
            </div>
        </div>
        
        <!-- content -->
        <div class="row default-banner" style="height: fit-content;">
            <h1 class="align-self-center text-uppercase"> {{ page.title }} </h1>
        </div>
        
        <div class="row default-banner" style="height: 100vh;">
            
            {{ content }}

        </div>
        
    </div>
</body>
</html>