<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <meta name="author" content="João Peterson">
    <meta name="description" content="Personal site for me :)">
    
    <link  href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="jquery/jquery-3.2.1.slim.min.js" defer></script>
    <script src="popperjs/popper.min.js" defer></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js" defer></script>

    <link href="css/style.css" rel="stylesheet">
    
    <link href="fonts/open-sans.css" rel="stylesheet" type="text/css">
    <link href="fonts/lato.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png"/>
    <title>João Peterson | Programador</title>
</head>
<body>
    <div class="container-fluid">
        
        <!-- navbar -->
        <div class="row">
            <div class="col">
                <nav id="main-nav" class="nav justify-content-start">
                    <li class="nav-item">
                        <a class="navbar-link navbar-text" href="#/">
                            Home
                        </a>                
                    </li>
                </nav>
            </div>
            <div class="col">
                <nav id="main-nav" class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="navbar-link navbar-text" href="#projetos">
                            Portifólio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-link navbar-text" href="/blog">
                            Blog
                        </a>
                    </li>
                </nav>
            </div>
        </div>
        
        <!-- banner, social and title -->
        <div class="row banner" style="height: 60vh;">
            <div>
                <h1 class="text-center text-uppercase banner-title">
                    João <br> Peterson
                </h1>
                <p class="text-center banner-title">
                    Programação & Eletrônica
                </p>
            </div>

            <div>
                <p class="text-center banner-title">Social media</p>
                <div class="social text-center">
                    <ul>
                        <li><a href="mailto:jooxpeters@gmail.com" ><i class="fa fa-envelope"></i></a></li>
                        <li><a href="mailto:joco_zx@hotmail.com" ><i class="fa fa-envelope"></i></a></li>
                        <li><a href="tel:+55 42 98418 4379" ><i class="fa fa-whatsapp"></i></a></li>
                        <li><a href="https://github.com/Joao-Peterson" ><i class="fa fa-github"></i></a></li>
                        <li><a href="https://linkedin.com/in/peterson-scheffer" ><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://youtube.com/channel/UCCnexeRhsuk1B9tz2kjsrAg" ><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://instagram.com/joao_bem_legal/" ><i class="fa fa-instagram"></i></a></li>
                        <li><a href="/feed.xml" ><i class="fa fa-feed"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- present media -->
        <div id="projetos" class="row">
            <div class="container-fluid sections " style="height: auto;">
                <h2>Projetos</h2>
            </div>
        </div>
        
        <!-- present media, alt background color -->
        <div class="row">
            <div class="container-fluid sections sections-alt" style="height: auto;">
                <h2>Ultimos posts do Blog</h2>
            </div>
        </div>
        
    </div>
</body>
</html>



            <!-- <div class="col-auto topbar-tray">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle topbar-text" data-bs-toggle="dropdown" aria-expanded="false">
                        Arquivos
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"> 1 </a>
                        <a class="dropdown-item"> 2 </a>
                        <a class="dropdown-item"> 3 </a>
                        <a class="dropdown-item"> 4 </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"> 5 </a>
                    </div>
                </div>
            </div> -->